version: '1.0'

services:

  kong-db:
      image: postgres:latest
      container_name: kong-db
      networks:
        - kong-net
      environment:
        POSTGRES_DB: kong
        POSTGRES_USER: kong
        POSTGRES_PASSWORD: kong
      healthcheck:
        test: ["CMD", "pg_isready", "-U", "kong"]
        interval: 10s
        timeout: 5s
        retries: 5
      restart: on-failure

  kong-migrations:
      image: kong/kong-gateway:latest
      command: kong migrations bootstrap
      container_name: kong-migrations
      networks:
        - kong-net
      depends_on:
        kong-db:
          condition: service_healthy
      environment:
        KONG_DATABASE: postgres
        KONG_PG_HOST: kong-db
        KONG_PG_DATABASE: kong
        KONG_PG_USER: kong
        KONG_PG_PASSWORD: kong
      restart: on-failure


  # Kong Gateway
  kong:
    image: kong/kong-gateway:latest
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-db
      KONG_PG_DATABASE: kong
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_DECLARATIVE_CONFIG: /kong/declarative/kong.yml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_ADMIN_GUI_URL: http://localhost:8002
    ports:
      - "8000:8000"   # Gateway proxy port
      - "8001:8001"   # Admin API port
      - "8002:8002"   # Admin GUI port
    volumes:
      - ./kong.yml:/kong/declarative/kong.yml
    networks:
      - kong-net
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Konga - Kong Admin UI
  konga:
    image: pantsel/konga
    environment:
      NODE_ENV: production
    ports:
      - "1337:1337"
    networks:
      - kong-net
    depends_on:
      - kong

  # Mock API services for testing
  httpbin:
    image: kennethreitz/httpbin
    networks:
      - kong-net

  jsonplaceholder:
    image: clue/json-server
    networks:
      - kong-net

networks:
  kong-net:
    driver: bridge