@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #080908;
        color: #DDDDDD;
    }

    .video-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 20px;
    }

    video {
        max-width: 100%;
        width: stretch;
        height: auto;
    }

    audio {
        max-width: 100%;
        width: stretch;
    }

    .player-wrapper {
        margin: 20px 0;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .button-group {
        margin-bottom: 15px;
    }

        .button-group button {
            padding: 10px 20px;
            margin-right: 10px;
            font-size: 16px;
            cursor: pointer;
            border: 2px solid #007bff;
            background: white;
            color: #007bff;
            border-radius: 5px;
            transition: all 0.3s;
        }

            .button-group button:hover {
                background: #e7f3ff;
            }

            .button-group button.active {
                background: #007bff;
                color: white;
            }

</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="media-players">
    <!-- Video Player, for videos to test larger file trensfer -->
    <div class="player-wrapper">
        <h3>Video Player</h3>
        <div class="button-group">
            <button id="videoHlsBtn" class="active">HLS</button>
            <button id="videoRawBtn">Raw</button>
        </div>
        <video id="videoPlayer" controls></video>
    </div>

    <!-- Audio Player, for songs -->
    <div class="player-wrapper">
        <h3>Audio Player</h3>
        <div class="button-group">
            <button id="audioHlsBtn" class="active">HLS</button>
            <button id="audioRawBtn">Raw</button>
        </div>
        <audio id="audioPlayer" controls></audio>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/4.3.5/shaka-player.compiled.js"></script>

<script>
    // Video Player Setup
    const videoEl = document.getElementById('videoPlayer');
    let videoHls = null;
    let videoShaka = null;

    const Minikube = true;

    const token = "JWT_token"
    async function cleanupVideo() {
        videoEl.pause();

        // Clean up Shaka FIRST (this is critical)
        if (videoShaka) {
            await videoShaka.unload();
            await videoShaka.destroy();
            videoShaka = null;
        }

        // Then clean up HLS
        if (videoHls) {
            videoHls.destroy();
            videoHls = null;
        }

        // Clear the source
        videoEl.removeAttribute('src');
        videoEl.load();
    }

    async function initVideoHls() {
        
        await cleanupVideo();

        // Small delay to ensure cleanup is complete
        await new Promise(resolve => setTimeout(resolve, 100));

        // start timer for validation after cleanup to ensure fare play
        console.time('initVideoHls');

        let hlsSource = null;

        if (Minikube){
            hlsSource = 'http://192.168.10.196:3000/hls/video1/index.m3u8';
        }
        else {
            hlsSource = 'http://localhost:3000/hls/video1/index.m3u8';
        }

        if (Hls.isSupported()) {
            videoHls = new Hls({
                xhrSetup: function(xhr, url) {
                xhr.setRequestHeader('Authorization', `Bearer ${token}`);
                }
            });
            videoHls.loadSource(hlsSource);
            videoHls.attachMedia(videoEl);
        } else if (videoEl.canPlayType('application/vnd.apple.mpegurl')) {
            videoEl.src = hlsSource;
        }

        // stop timer for validation
        console.timeEnd('initVideoHls');
    }

    async function initVideoRaw() {
        await cleanupVideo();
        await new Promise(resolve => setTimeout(resolve, 100));

        // start timer for validation after cleanup to ensure fare play
        console.time('initVideoRaw');

        const videoId = 'who.mp4';

        let gatewayUrl = null;

        if (Minikube){
            gatewayUrl = 'http://192.168.10.196:3000/vid/' + videoId;
        }
        else {
            gatewayUrl = 'http://localhost:3000/vid/' + videoId;
        }

        console.log('Fetching entire video file...');

        try {
            const response = await fetch(gatewayUrl, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            console.log('File receaved from server');
            const blob = await response.blob();
            console.log('File loaded:', blob.size, 'bytes');

            const blobUrl = URL.createObjectURL(blob);
            videoEl.src = blobUrl;
            videoEl.load();

            // Clean up blob URL when done
            videoEl.addEventListener('ended', () => {
                URL.revokeObjectURL(blobUrl);
            }, { once: true });
            // stop timer for validation
            console.timeEnd('initVideoRaw');

        } catch (error) {
            console.error('Error fetching video:', error);
            // stop timer for validation
            console.timeEnd('initVideoRaw');
        }

        
    }

    document.getElementById('videoHlsBtn').addEventListener('click', function() {
        initVideoHls();
        this.classList.add('active');
        document.getElementById('videoRawBtn').classList.remove('active');
    });

    document.getElementById('videoRawBtn').addEventListener('click', function() {
        initVideoRaw();
        this.classList.add('active');
        document.getElementById('videoHlsBtn').classList.remove('active');
    });

    // Audio Player Setup
    const audioEl = document.getElementById('audioPlayer');
    let audioHls = null;
    let audioShaka = null;

    async function cleanupAudio() {
        audioEl.pause();

        // Clean up Shaka FIRST (this is critical)
        if (audioShaka) {
            await audioShaka.unload();
            await audioShaka.destroy();
            audioShaka = null;
        }

        // Then clean up HLS
        if (audioHls) {
            audioHls.destroy();
            audioHls = null;
        }

        // Clear the source
        audioEl.removeAttribute('src');
        audioEl.load();

        // Small delay to ensure cleanup is complete
        await new Promise(resolve => setTimeout(resolve, 25));
    }

    async function initAudioHls() {
        await cleanupAudio();

        // start timer for validation after cleanup to ensure fare play
        console.time('initAudioHls');

        let hlsSource = null;

        if (Minikube){
            hlsSource = 'http://192.168.10.196:3000/hls/test1/index.m3u8';
        }
        else {
            hlsSource = 'http://localhost:3000/hls/test1/index.m3u8';
        }
        

        if (Hls.isSupported()) {
            audioHls = new Hls({
                xhrSetup: function(xhr, url) {
                xhr.setRequestHeader('Authorization', `Bearer ${token}`);
                }
            });
            audioHls.loadSource(hlsSource);
            audioHls.attachMedia(audioEl);
        } else if (audioEl.canPlayType('application/vnd.apple.mpegurl')) {
            audioEl.src = hlsSource;
        }

        // stop timer for validation
        console.timeEnd('initAudioHls');
    }

    async function initAudioRaw() {
        await cleanupAudio();

        // start timer for validation after cleanup to ensure fare play
        console.time('initAudioRaw');

        const songId = 'Golden.flac';

        let gatewayUrl = null;

        if (Minikube){
            gatewayUrl = 'http://192.168.10.196:3000/vid/' + songId;
        }
        else {
            gatewayUrl = 'http://localhost:3000/vid/' + songId;
        }

        console.log('Fetching entire music file...');

        try {
            const response = await fetch(gatewayUrl, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            console.log('File receaved from server');
            const blob = await response.blob();
            console.log('File loaded:', blob.size, 'bytes');

            const blobUrl = URL.createObjectURL(blob);
            audioEl.src = blobUrl;
            audioEl.load();

            // Clean up blob URL when done
            audioEl.addEventListener('ended', () => {
                URL.revokeObjectURL(blobUrl);
            }, { once: true });

        } catch (error) {
            console.error('Error fetching audio:', error);
        }

        // stop timer for validation
        console.timeEnd('initAudioRaw');
    }

    document.getElementById('audioHlsBtn').addEventListener('click', function() {
        initAudioHls();
        this.classList.add('active');
        document.getElementById('audioRawBtn').classList.remove('active');
    });

    document.getElementById('audioRawBtn').addEventListener('click', function() {
        initAudioRaw();
        this.classList.add('active');
        document.getElementById('audioHlsBtn').classList.remove('active');

    });

    // Initialize with HLS by default
    initVideoHls();
    initAudioHls();
</script>